{% load cache %}
<footer class="footer" style="padding-top:10px;">
  <div class="container" style="max-width: 1170px;">
    <div class="row">
        <div class="col-xs-12">
            <a class="a3" href="/home">Material Database</a>
            <span class="p3" style="padding-right: 40px;">© Siemens AG, 1996 – 2018</span>
            <a class="a3" target="_blank" href="https://www.siemens.com/global/en/home/general/legal.html">Corporate Information</a>
            <a class="a3" target="_blank" href="http://www.siemens.com/corp/en/index/privacy.htm" >Privacy Policy</a>
            <a class="a3" target="_blank" href="http://www.siemens.com/corp/en/index/siemens_ag_cookie_policy.htm" >Cookie Policy</a>
            <a class="a3" target="_blank" href="http://www.siemens.com/corp/en/index/terms_of_use.htm">Terms of use</a>
            <a class="a3" target="_blank" href="http://www.siemens.com/corp/en/index/digital_id.htm">Digital ID</a>
        </div>
    </div>
  </div>
</footer>


